[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
langchain = "*"
langchain-core = "*"
langchain-huggingface = "*"
langchain-groq = "*"
python-dotenv = "*"
sentence-transformers = "*"
langchain-community = "*"
pypdf = "*"
numpy = "<2"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12.4"
